@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
  --breakpoint-450: 450px;
  --breakpoint-sm: 660px;
  --breakpoint-800: 800px;
  --breakpoint-900: 900px;
  --breakpoint-lg: 1024px;
  --breakpoint-1150: 1150px;
  --breakpoint-1300: 1300px;
  --breakpoint-1700: 1700px;
  --text-md: 16px;
}


* {
  font-family: "Fira Code", monospace;
}
